<div class="quizBox"  [formGroup]="questionForm">
  <strong ><span class="text-danger">سؤال {{ i+1 }}</span> .  {{ question.text }}</strong>
  <div class="row mt-3" >
    <mat-radio-group class="full-width">
      <div *ngFor="let answer of question.answers; let index=index" class="col-md-6 col-sm-12">
        <app-exam-answer [answer]="answer"
                         [index]="index"
                         [questionIndex]="i"
                         (onAnswerSelected)="onAnswerSelect($event)"
        ></app-exam-answer>
      </div>
    </mat-radio-group>
  </div>
  <hr>
</div>
